.button{

  -fx-background-color:#27998f; /* Verde base para a interface gráfica do software */

}

.text-field{
	-fx-background-color:#2990ea; /* Azul base para a interface gráfica do software */
}

.alert{
	-fx-background-color:2990ea;
}





