.button{

    -fx-background-color:#3a3a3a; 
    -fx-font: 12px "Serif"; 
    -fx-padding: 6;
    -fx-text-fill: #FFF;
    -fx-alignment:CENTER_LEFT;
    -fx-wrap-text:false;
    -fx-text-alignment:center;
    -fx-border:1;
}

.label{
    -fx-font: 12px "Courier New";
    -fx-padding: 9; 
}

.text-area{
    -fx-padding: 9;
    -fx-border: 6;    
}

.text-field{
    -fx-padding: 2;
    -fx-border: 2;    
    -fx-background-color:grey;
}
.radio-button{
    -fx-padding: 9;
}

.check-box {
    -fx-padding:9;    
}

.grid {
    -fx-padding: 9;
}

.alert{
    -fx-background-color:#2990ea;
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color: red;
    -fx-table-cell-border-color: red;
}

.table-row-cell:selected-row {
    -fx-background-color: lightskyblue ;
}

#scFractureIntensity .default-color0.chart-series-line {
    -fx-stroke: transparent;    
}
#scFractureIntensity .default-color1.chart-line-symbol {
    -fx-background-color: transparent;
}

#gPowerLaw .default-color0.chart-series-line {
    -fx-stroke: transparent;    
}

#scDispersion .default-color0.chart-symbol {
    -fx-background-radius: 3px;
    -fx-background-color: #2990ea;
}

#WhitePane {
    -fx-background-color:#FFF;    
    -fx-padding: 2;
}

#bcSpHistogram {
    -fx-bar-gap: 0;
    -fx-category-gap: 0;
}
#bcApHistogram {
    -fx-bar-gap: 0;
    -fx-category-gap: 0;
}

#scDispersion .chart-symbol { 
    -fx-background-color: #860061, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 1px;
    -fx-padding: 1px;
}





